@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400&display=swap');

html {
  font-size: 62.5%;
  line-height: 1.25;
  body {
    font-family: 'Merriweather', serif;
  }
}

p,
span {
  font-size: 1.4rem;
}

a {
  font-weight: 600;
}
