// Breakpoints
$layout-breakpoint-large: 1920px;
$layout-breakpoint-medium: 1440px;
$layout-breakpoint-small: 960px;
$layout-breakpoint-xsmall: 480px;

// Colors
$background: #faf8f6;
$orange: #f6673c;
$light-orange: #ffe5de;
$purple: #a294cd;
$bright-gray: #f1e4ef;
$blue: #19183a;
