.going {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 54px;
  .inner-going {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: min-content;
    max-width: $layout-breakpoint-medium;
    position: relative;
    .self-care {
      min-width: 68.75%;
      height: 400px;
      background-color: $bright-gray;
      margin-left: auto;
      position: absolute;
      left: 31.25%;
      top: -10px;
    }
  }
}
