body.loading {
  overflow: hidden;
  height: 100vh;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $bright-gray;
  height: 100vh;
  width: 100%;
  position: absolute;
  z-index: 1;
  .loader-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    .logo {
      .text {
        font-weight: 700;
        font-size: 8rem;
        display: inline-block;
      }

      .circle {
        width: 20px;
        height: 20px;
        background-color: $orange;
        border-radius: 50%;
        display: inline-block;
      }
    }
  }
}
